In [2]:
!python -m pip install names ipython-sql sqlalchemy psycopg2

Requirement already satisfied: names in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (0.3.0)
Requirement already satisfied: ipython-sql in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (1.4.31)
Requirement already satisfied: psycopg2 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (2.9.3)
Requirement already satisfied: prettytable<1 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: pickleshare in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.22)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

1. Find a way to connect PostgreSQL (Saykoji)
2. Pull data dari PostgreSQL  [link](https://pynative.com/python-postgresql-select-data-from-table/)
3. Push data ke PostgreSQL

In [1]:
%load_ext sql
from sqlalchemy import create_engine

#### Connect to **PostgreSQL**

In [2]:
%sql postgresql://postgres:ww0udwat@localhost/postgres
engine = create_engine('postgresql://postgres:ww0udwat@localhost/postgres')

#### Raw SQL Query for **mentor_df**

In [4]:
%%sql

SELECT
       u.id AS mentor_id,
       u.name AS mentor_name,
       -- INTERESTS
       o.id AS university_id,
       e.major_id,
       o.country_id, -- (*)
       s.id AS state_id,
       u.mentee_quantity - (SELECT COUNT(*) FROM application a WHERE a.id = u.id AND a.is_paired = true) AS n_slot -- slots left
FROM users u, roles r, education e, organizations o, states s
WHERE
      u.role_id = r.id AND
      r.role_name = '0' AND
      o.id = e.organization_id AND
      e.user_id = u.id AND
      o.state_id = s.id;

 * postgresql://postgres:***@localhost/postgres
0 rows affected.

[]

In [6]:
import pandas as pd
import numpy as np
import random

### Reference Tables

In [2]:
interests_df = pd.DataFrame([
    ['Volunteer work/Community involvement', 1, 1, 0.02],
    ['Sports, health & wellness', 2, 2, 0.04],
    ['Art, music & entertainment', 3, 3, 0.1],
    ['Gaming', 4, 3, 0.2],
    ['Traveling', 5, 2, 0.015],
    ['Competition', 6, 4, 0.1],
    ['Reading', 7, 5, 0.1],
    ['Investing', 8, 6, 0.2],
    ['Cooking & culinary', 9, 2, 0.015],
    ['Science & education', 10, 7, 0.02],
    ['Writing/blogging', 11, 5, 0.02],
    ['Business', 12, 6, 0.15],
    ['Technology advancements', 13, 7, 0.02],
], columns=['interest_name', 'interest_id', 'interest_group', 'interest_prob'])

interests_df

,interest_name,interest_id,interest_group,interest_prob
0,Volunteer work/Community involvement,1,1,0.020
1,"Sports, health & wellness",2,2,0.040
2,"Art, music & entertainment",3,3,0.100
3,Gaming,4,3,0.200
4,Traveling,5,2,0.015
5,Competition,6,4,0.100
6,Reading,7,5,0.100
7,Investing,8,6,0.200
8,Cooking & culinary,9,2,0.015
9,Science & education,10,7,0.020
10,Writing/blogging,11,5,0.020
11,Business,12,6,0.150
12,Technology advancements,13,7,0.020

In [4]:
n_universities = 200
n_majors = 100
n_countries = 10
n_states = 10

universities = []
for i in range(n_universities):
    country_id = random.choices(
        range(n_countries),
        weights=[np.exp(n_countries-j) for j in range(n_countries)],
        k=1
    )[0]
    state_id = random.choice(range(n_states))
    universities.append([i, country_id, state_id])

universities_df = pd.DataFrame(universities, columns=['university_id', 'country_id', 'state_id'])

### Dummy Mentor and Mentee Database

In [5]:
import names

In [6]:
n_mentors = 500
n_mentees = 3000

In [7]:
mentors = []
name = None
mentors_name = []
for i in range(n_mentors):
    while name is None or name in mentors_name:
        name = names.get_full_name().lower().replace(' ', '_')
    n_interest_squared = np.random.randint(1, 16)
    n_interest = int(np.floor(np.sqrt(n_interest_squared)))
    interests = np.random.choice(
        interests_df.interest_id, n_interest, replace=False, p=interests_df.interest_prob
    ).tolist()
    university_id = random.choices(
        universities_df.university_id, universities_df.university_id
    )[0]
    major_id = random.choices(
        range(n_majors), range(n_majors)
    )[0]
    country_id, state_id = universities_df.loc[university_id, ['country_id', 'state_id']]
    n_slot_squared = np.random.randint(1, 36)
    n_slot = int(np.floor(np.sqrt(n_slot_squared)))
    mentors_name.append(name)
    mentors.append([i, name, interests, university_id, major_id, country_id, state_id, n_slot])

mentees = []
name = None
mentees_name = []
for i in range(n_mentees):
    while name is None or name in mentees_name:
        name = names.get_full_name().lower().replace(' ', '_')
    n_interest_squared = np.random.randint(1, 16)
    n_interest = int(np.floor(np.sqrt(n_interest_squared)))
    interests = np.random.choice(interests_df.interest_id, n_interest, replace=False)
    university_id = random.choices(
        universities_df.university_id, universities_df.university_id
    )[0]
    major_id = random.choices(
        range(n_majors), range(n_majors)
    )[0]
    country_id, state_id = universities_df.loc[university_id, ['country_id', 'state_id']]
    mentees_name.append(name)
    mentees.append([i, name, interests, university_id, major_id, country_id, state_id])

#### mentors_df from **PostgreSQL**

In [7]:
mentor_df = pd.read_sql('''
SELECT
       u.id AS mentor_id,
       u.name AS mentor_name,
       -- INTERESTS
       o.id AS university_id,
       e.major_id,
       o.country_id, -- (*)
       s.id AS state_id,
       u.mentee_quantity - (SELECT COUNT(*) FROM application a WHERE a.id = u.id AND a.is_paired = true) AS n_slot -- slots left
FROM users u, roles r, education e, organizations o, states s
WHERE
      u.role_id = r.id AND
      r.role_name = '0' AND
      o.id = e.organization_id AND
      e.user_id = u.id AND
      o.state_id = s.id;
''', engine)
mentor_df

Empty DataFrame
Columns: [mentor_id, mentor_name, university_id, major_id, country_id, state_id, n_slot]
Index: []

In [8]:
#### AMBIL DARI POSTGRES
# mentor_id = table: users; column: id
# mentor_name = remove aja
# interests = table: user_details; column: personal_interest_1 sampe 3
# university_id = table: universities, column: organisation_id
# major_id = table: universities, column: major_id
# country_id = table: users; column: country_id
# state_id = table: users; column: state_id
# n_slot = total_slots - (SELECT COUNT(*) FROM application+ matchmaking WHERE is_paired = 1)
## total slot si mentor - # of mentees yang udah diassign ke si mentor(in the future harusnya ada di users table)




#mentors_df = """ SELECT * FROM ..... """



mentors_df = pd.DataFrame(
    mentors,
    columns=['mentor_id', 'mentor_name', 'interests', 'university_id', 'major_id', 'country_id', 'state_id', 'n_slot']
)


mentees_df = pd.DataFrame(
    mentees,
    columns=['mentee_id', 'mentee_name', 'interests', 'university_id', 'major_id', 'country_id', 'state_id']
)

In [11]:
print(mentors_df)

     mentor_id          mentor_name   interests  university_id  major_id  \
0            0       scott_crockett  [2, 6, 12]            171        93
1            1       alberta_colvin  [6, 12, 4]            186        58
2            2       ladonna_rivera     [4, 12]            153        94
3            3       wayne_barnhart     [12, 8]            171        91
4            4  christopher_granada  [3, 6, 12]             97        37
..         ...                  ...         ...            ...       ...
495        495        josie_richter  [8, 12, 7]            119        86
496        496          robin_gayle  [13, 8, 4]            101        74
497        497      christina_wiles   [8, 4, 3]            196        67
498        498       nanette_cazier        [12]             63        50
499        499     ernest_rosenfeld  [8, 12, 4]            102        84

     country_id  state_id  n_slot
0             0         2       2
1             1         5       3
2             0         3       5
3             0         2       5
4             1         4       2
..          ...       ...     ...
495           1         8       4
496           0         4       1
497           0         0       5
498           0         9       5
499           0         5       3

[500 rows x 8 columns]

### Compatibility Scoring

In [9]:
def score_academic(mentor_id, mentee_id):
    score = 0
    mentor_uni, mentor_major = mentors_df.loc[mentor_id, ['university_id', 'major_id']]
    mentee_uni, mentee_major = mentees_df.loc[mentee_id, ['university_id', 'major_id']]
    if mentor_uni == mentee_uni:
        score += 5
    if mentor_major == mentee_major:
        score += 15
    return score

In [10]:
def score_domicile(mentor_id, mentee_id):
    score = 0
    mentor_country, mentor_state = mentors_df.loc[mentor_id, ['country_id', 'state_id']]
    mentee_country, mentee_state = mentees_df.loc[mentee_id, ['country_id', 'state_id']]
    if mentor_country == mentee_country:
        score += 5
        if mentor_state == mentee_state:
            score += 15
    return score

In [11]:
def score_interest(mentor_id, mentee_id):
    score = 0
    mentor_interests = mentors_df.loc[mentor_id, 'interests']
    mentee_interests = mentees_df.loc[mentee_id, 'interests']

    mentor_interest_groups = interests_df.query('interest_id in @mentor_interests').interest_group.unique()
    for interest in mentee_interests:
        if interest in mentor_interests:
            score += 0.5
        if interest in mentor_interest_groups:
            score += 0.5
    score *= (60 // len(mentor_interests))
    return score

In [12]:
def score(mentor_id, mentee_id):
    return score_academic(mentor_id, mentee_id) + \
        score_domicile(mentor_id, mentee_id) + \
        score_interest(mentor_id, mentee_id)

In [28]:
import itertools
pairs = pd.DataFrame(
    itertools.product(mentors_df.mentor_id, mentees_df.mentee_id),
    columns=['mentor_id', 'mentee_id']
)
pairs.set_index(['mentor_id', 'mentee_id'], inplace=True, drop=True)

Step 1: Mentor bakal ngeselect dari mentees yang apply ke mereka

Step 2: Matchmaking (beberapa ronde)

In [12]:
# rejected_pairs = pd.read_csv('rejected_pairs.csv')

# rejected_pairs = SELECT mentor_id, mentee_id FROM application + matchmaking


rejected_pairs.set_index(['mentor_id', 'mentee_id'], inplace=True, drop=True)


pairs.drop(rejected_pairs.index, inplace=True)

pairs.reset_index(inplace=True)

FileNotFoundError: [Errno 2] No such file or directory: 'rejected_pairs.csv'

In [13]:
from tqdm.auto import tqdm
tqdm.pandas()

pairs['score'] = pairs.progress_apply(lambda x: score(x.mentor_id, x.mentee_id), axis=1)
# 200 it/s on google colab, 500 it/s on macbook pro m1

100%|██████████| 1500000/1500000 [47:42<00:00, 524.09it/s]

In [14]:
pairs = pairs.sort_values('score', ascending=False).reset_index(drop=True)

### Matching

In [15]:
mentors_tracker_df = mentors_df.set_index('mentor_id', inplace=False) # tracks the number of slots left
final = pd.DataFrame([], columns=['mentor_id', 'mentee_id', 'score'])  # final matching pairs

while True:
    # find the distribution of interests
    interests_dist = pd.DataFrame(mentors_tracker_df['interests'].tolist()).to_numpy().flatten()
    interests_dist = [x for x in interests_dist if not np.isnan(x)]
    interests_dist_df = pd.DataFrame([interests_dist, interests_dist], index=['interest_id', 'count']).T.groupby('interest_id').count()
    
    # finds the least popular interest
    least_pop_interest = interests_dist_df.sort_values('count').reset_index().loc[0, 'interest_id']
    print(interests_df.query('interest_id == @least_pop_interest').interest_name.values[0])

    # populate mentors with this interest
    filtered_mentors = mentors_tracker_df[
        mentors_tracker_df['interests'].apply(lambda x: True if least_pop_interest in x else False)
    ].index.tolist()

    # filter pairs to only mentors with this interest
    filtered_pairs = pairs.query('mentor_id in @filtered_mentors').sort_values('score', ascending=False).reset_index(drop=True)


    i = final.shape[0]
    while True:
        # find the best pair
        most_compatible = filtered_pairs.loc[0, ['mentor_id', 'mentee_id', 'score']].copy()

        # remove the pair from the list
        filtered_pairs.drop(0, inplace=True)

        # add the pair to the final matching pairs
        final.loc[i, :] = most_compatible

        # substrack the mentor's slot
        mentors_tracker_df.loc[most_compatible.mentor_id, 'n_slot'] -= 1

        # if the mentor has no slots left, remove them
        if mentors_tracker_df.loc[most_compatible.mentor_id, 'n_slot'] == 0:
            mentors_tracker_df.drop(most_compatible.mentor_id, inplace=True)
            filtered_pairs.drop(
                filtered_pairs[filtered_pairs['mentor_id'] == most_compatible.mentor_id].index,
                inplace=True
            )
        
        filtered_pairs.reset_index(drop=True, inplace=True)
        i += 1

        # stop if there are no more pairs
        if filtered_pairs.shape[0] == 0:
            break
    
    # stop if there are no more mentors
    if mentors_tracker_df.shape[0] == 0:
        break

final[['mentor_id', 'mentee_id']] = final[['mentor_id', 'mentee_id']].astype(int)
### PUSH mentor_id and mentee_id ke matchmaking table

Cooking & culinary
Science & education
Traveling
Writing/blogging
Technology advancements
Volunteer work/Community involvement
Sports, health & wellness
Art, music & entertainment
Competition
Reading
Business
Gaming
Investing

In [16]:
final.to_csv('final.csv', index=False)